<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>CFBundleIconFile</key>
    <string>studio.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>Scheme-based GUI for the libfive CAD kernel</string>
    <key>CFBundleExecutable</key>
    <string>Studio</string>
    <key>CFBundleIdentifier</key>
    <string>com.impraxical.studio</string>
    <key>CFBundleVersion</key>
    <string>0.0.0</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>io</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Studio design</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
</dict>
</plist>
